.icon-arrow-right {
  background-image: url(../images/sprite.png);
  background-position: -167px -106px;
  width: 9px;
  height: 16px;
}
.icon-badge {
  background-image: url(../images/sprite.png);
  background-position: -130px 0px;
  width: 36px;
  height: 36px;
}
.icon-book {
  background-image: url(../images/sprite.png);
  background-position: -130px -37px;
  width: 32px;
  height: 32px;
}
.icon-clock {
  background-image: url(../images/sprite.png);
  background-position: -119px -106px;
  width: 30px;
  height: 32px;
}
.icon-close {
  background-image: url(../images/sprite.png);
  background-position: -167px -58px;
  width: 24px;
  height: 24px;
}
.icon-coin_orange {
  background-image: url(../images/sprite.png);
  background-position: -167px -83px;
  width: 22px;
  height: 22px;
}
.icon-crown {
  background-image: url(../images/sprite.png);
  background-position: -65px 0px;
  width: 64px;
  height: 45px;
}
.icon-earth {
  background-image: url(../images/sprite.png);
  background-position: -130px -70px;
  width: 32px;
  height: 32px;
}
.icon-email {
  background-image: url(../images/sprite.png);
  background-position: -97px -143px;
  width: 32px;
  height: 24px;
}
.icon-exit {
  background-image: url(../images/sprite.png);
  background-position: -33px -143px;
  width: 30px;
  height: 32px;
}
.icon-lock_gray {
  background-image: url(../images/sprite.png);
  background-position: -167px 0px;
  width: 26px;
  height: 32px;
}
.icon-modal-close {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
.icon-onlyuser {
  background-image: url(../images/sprite.png);
  background-position: 0px -106px;
  width: 95px;
  height: 36px;
}
.icon-phone {
  background-image: url(../images/sprite.png);
  background-position: -96px -106px;
  width: 22px;
  height: 32px;
}
.icon-refresh {
  background-image: url(../images/sprite.png);
  background-position: -64px -143px;
  width: 32px;
  height: 27px;
}
.icon-search {
  background-image: url(../images/sprite.png);
  background-position: -167px -33px;
  width: 24px;
  height: 24px;
}
.icon-star_on {
  background-image: url(../images/sprite.png);
  background-position: 0px -65px;
  width: 40px;
  height: 40px;
}
.icon-tips {
  background-image: url(../images/sprite.png);
  background-position: 0px -143px;
  width: 32px;
  height: 32px;
}
.icon-user {
  background-image: url(../images/sprite.png);
  background-position: -41px -65px;
  width: 72px;
  height: 36px;
}
