.icon-arrow-right {
  background-image: url(../images/sprite.png);
  background-position: -181px -46px;
  width: 9px;
  height: 16px;
}
.icon-badge {
  background-image: url(../images/sprite.png);
  background-position: -114px -82px;
  width: 36px;
  height: 36px;
}
.icon-book {
  background-image: url(../images/sprite.png);
  background-position: -192px -33px;
  width: 32px;
  height: 32px;
}
.icon-clock {
  background-image: url(../images/sprite.png);
  background-position: -150px -46px;
  width: 30px;
  height: 32px;
}
.icon-close {
  background-image: url(../images/sprite.png);
  background-position: 0px -191px;
  width: 24px;
  height: 24px;
}
.icon-coin_orange {
  background-image: url(../images/sprite.png);
  background-position: -56px -191px;
  width: 22px;
  height: 22px;
}
.icon-crown {
  background-image: url(../images/sprite.png);
  background-position: -127px 0px;
  width: 64px;
  height: 45px;
}
.icon-earth {
  background-image: url(../images/sprite.png);
  background-position: -192px -66px;
  width: 32px;
  height: 32px;
}
.icon-email {
  background-image: url(../images/sprite.png);
  background-position: -182px -160px;
  width: 32px;
  height: 24px;
}
.icon-exit {
  background-image: url(../images/sprite.png);
  background-position: -151px -82px;
  width: 30px;
  height: 32px;
}
.icon-integral_4 {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 61px;
  height: 81px;
}
.icon-lock_gray {
  background-image: url(../images/sprite.png);
  background-position: -125px -123px;
  width: 26px;
  height: 32px;
}
.icon-menu_01 {
  background-image: url(../images/sprite.png);
  background-position: 0px -160px;
  width: 30px;
  height: 30px;
}
.icon-menu_02 {
  background-image: url(../images/sprite.png);
  background-position: -25px -191px;
  width: 30px;
  height: 22px;
}
.icon-menu_03 {
  background-image: url(../images/sprite.png);
  background-position: -127px -46px;
  width: 22px;
  height: 32px;
}
.icon-menu_04 {
  background-image: url(../images/sprite.png);
  background-position: -91px -160px;
  width: 32px;
  height: 26px;
}
.icon-menu_05 {
  background-image: url(../images/sprite.png);
  background-position: -192px -99px;
  width: 32px;
  height: 32px;
}
.icon-menu_06 {
  background-image: url(../images/sprite.png);
  background-position: -31px -160px;
  width: 30px;
  height: 28px;
}
.icon-menu_07 {
  background-image: url(../images/sprite.png);
  background-position: -62px -160px;
  width: 28px;
  height: 28px;
}
.icon-menu_08 {
  background-image: url(../images/sprite.png);
  background-position: -124px -160px;
  width: 32px;
  height: 24px;
}
.icon-modal-close {
  background-image: url(../images/sprite.png);
  background-position: -62px 0px;
  width: 64px;
  height: 64px;
}
.icon-onlyuser {
  background-image: url(../images/sprite.png);
  background-position: 0px -123px;
  width: 95px;
  height: 36px;
}
.icon-phone {
  background-image: url(../images/sprite.png);
  background-position: -152px -123px;
  width: 22px;
  height: 32px;
}
.icon-refresh {
  background-image: url(../images/sprite.png);
  background-position: -192px -132px;
  width: 32px;
  height: 27px;
}
.icon-search {
  background-image: url(../images/sprite.png);
  background-position: -157px -160px;
  width: 24px;
  height: 24px;
}
.icon-star_on {
  background-image: url(../images/sprite.png);
  background-position: 0px -82px;
  width: 40px;
  height: 40px;
}
.icon-tips {
  background-image: url(../images/sprite.png);
  background-position: -192px 0px;
  width: 32px;
  height: 32px;
}
.icon-user {
  background-image: url(../images/sprite.png);
  background-position: -41px -82px;
  width: 72px;
  height: 36px;
}
.icon-user_gray {
  background-image: url(../images/sprite.png);
  background-position: -96px -123px;
  width: 28px;
  height: 32px;
}
