.icon-arrow-right {
  background-image: url(../images/sprite.png);
  background-position: -190px -116px;
  width: 9px;
  height: 16px;
}
.icon-badge {
  background-image: url(../images/sprite.png);
  background-position: -106px -37px;
  width: 36px;
  height: 36px;
}
.icon-book {
  background-image: url(../images/sprite.png);
  background-position: -166px -37px;
  width: 32px;
  height: 32px;
}
.icon-clock {
  background-image: url(../images/sprite.png);
  background-position: 0px -83px;
  width: 30px;
  height: 32px;
}
.icon-close {
  background-image: url(../images/sprite.png);
  background-position: -66px -149px;
  width: 24px;
  height: 24px;
}
.icon-coin_orange {
  background-image: url(../images/sprite.png);
  background-position: -122px -149px;
  width: 22px;
  height: 22px;
}
.icon-crown {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 64px;
  height: 45px;
}
.icon-earth {
  background-image: url(../images/sprite.png);
  background-position: -73px -46px;
  width: 32px;
  height: 32px;
}
.icon-email {
  background-image: url(../images/sprite.png);
  background-position: -33px -149px;
  width: 32px;
  height: 24px;
}
.icon-exit {
  background-image: url(../images/sprite.png);
  background-position: -31px -83px;
  width: 30px;
  height: 32px;
}
.icon-lock_gray {
  background-image: url(../images/sprite.png);
  background-position: -62px -83px;
  width: 26px;
  height: 32px;
}
.icon-menu_01 {
  background-image: url(../images/sprite.png);
  background-position: -33px -116px;
  width: 30px;
  height: 30px;
}
.icon-menu_02 {
  background-image: url(../images/sprite.png);
  background-position: -91px -149px;
  width: 30px;
  height: 22px;
}
.icon-menu_03 {
  background-image: url(../images/sprite.png);
  background-position: -143px -37px;
  width: 22px;
  height: 32px;
}
.icon-menu_04 {
  background-image: url(../images/sprite.png);
  background-position: -157px -116px;
  width: 32px;
  height: 26px;
}
.icon-menu_05 {
  background-image: url(../images/sprite.png);
  background-position: 0px -116px;
  width: 32px;
  height: 32px;
}
.icon-menu_06 {
  background-image: url(../images/sprite.png);
  background-position: -93px -116px;
  width: 30px;
  height: 28px;
}
.icon-menu_07 {
  background-image: url(../images/sprite.png);
  background-position: -64px -116px;
  width: 28px;
  height: 28px;
}
.icon-menu_08 {
  background-image: url(../images/sprite.png);
  background-position: 0px -149px;
  width: 32px;
  height: 24px;
}
.icon-onlyuser {
  background-image: url(../images/sprite.png);
  background-position: -106px 0px;
  width: 95px;
  height: 36px;
}
.icon-phone {
  background-image: url(../images/sprite.png);
  background-position: -89px -83px;
  width: 22px;
  height: 32px;
}
.icon-refresh {
  background-image: url(../images/sprite.png);
  background-position: -124px -116px;
  width: 32px;
  height: 27px;
}
.icon-search {
  background-image: url(../images/sprite.png);
  background-position: -174px -83px;
  width: 24px;
  height: 24px;
}
.icon-star_on {
  background-image: url(../images/sprite.png);
  background-position: -65px 0px;
  width: 40px;
  height: 40px;
}
.icon-tips {
  background-image: url(../images/sprite.png);
  background-position: -141px -83px;
  width: 32px;
  height: 32px;
}
.icon-user {
  background-image: url(../images/sprite.png);
  background-position: 0px -46px;
  width: 72px;
  height: 36px;
}
.icon-user_gray {
  background-image: url(../images/sprite.png);
  background-position: -112px -83px;
  width: 28px;
  height: 32px;
}
